:root {
    --accent-color: #429E9D;
    --text-color: #2e2e2e;
    --link-color: #00C0A3;
    --porcelain-color: #f1f3f4;
}

body {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    color: var(--text-color);
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#app {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--porcelain-color);
}

#appName a {
    font-weight: bold;
    font-size: 2em;
    color: var(--text-color);
    text-decoration: none;
}

#appName a:hover, #appName a:active, #appName a:focus {
    color: var(--text-color);
    text-decoration: none;
}

#appName span {
    color: var(--accent-color);
}

nav a {
    display: block;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
}

#primaryNav {
    display: flex;
}

#primaryNav a {
    font-size: 1.2em;
    border-bottom: 3px solid var(--accent-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#secondaryNav {
    display: flex;
}

#secondaryNav a {
    font-size: 1em;
}

#bookmarks .bookmark {
    background-color: var(--porcelain-color);
    border-radius: 16px;
}

#bookmarks .bookmark .content {
    padding: 12px 14px;
}

#bookmarks .bookmark .meta {
    background-color: #fff;
    padding: 12px 8px;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

#bookmarks .bookmark .meta ion-icon {
    margin-right: 5px;
}

#bookmarks .bookmark .meta .source {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#bookmarks .bookmark .meta .tags {
    display: flex;
    align-items: center;
}

#bookmarks .bookmark .meta .tags a {
    margin-right: 4px;
    color: var(--link-color);
}

#bookmarks .bookmark .meta .tags a:after {
    content: ', ';
    color: var(--text-color);
}

#bookmarks .bookmark .meta .tags a:last-child:after {
    content: '';
}
